@import url('https://fonts.googleapis.com/css?family=Orbitron');

.PlayButton-button {
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    border: ridge 10px green;
    background-color: olive;
    padding-top: .2rem;
    font-size: 1rem;
    position: relative;
    width: 6rem;
}

.PlayButton-button:hover {
    background-color: green;
}